#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 0px;
  border-radius: 5px;
  font-size: 17px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
