td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.top {
  display: flex;
  justify-content: center;
}

table {
  margin-right: 5px;
  margin-bottom: 5px;
}
.bottom {
  display: flex;
  justify-content: center;
}
